  <%#= form_tag locations_path, :method => :get do %> 
  <%= form_for Location.new, url: locations_path, :method => :get do |f| %>
    <p>
     <%= f.text_field :search, value: params[:search] %> 
      <%= f.submit "Search", :name => :nil %> 
    </p>
 <% end %>

<table>
   <tr>
     <th>Website Url</th> 
     <th>Email</th>
     <th>Title</th>
     <th>Latitude</th>
     <th>Longitude</th> 
     <th>City</th>
     <th>Country</th>
    </tr>
   <%= @locations.each do |location| %>
     <tr>
        <td><%= location.url %></td> 
        <td><%= location.email %></td> 
        <td><%= location.title %></td> 
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td> 
        <td><%= location.city %></td>
        <td><%= location.country %></td>
        <td><%= link_to "Show", location_url(location) %></td>
        <td><%= link_to "Edit", edit_location_path(location) %></td> 
        <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td> 
      </tr>
   <% end %>
 </table> 

  <p><%= link_to "New Location", new_location_path %></p>