<p id="notice"><%= notice %></p>

  <%= form_for Location.new, url: locations_path do |f| %>
    <p> 
      <%= f.label :url %><br /> 
      <%= f.text_field :url, class: 'form-control' %> 
    </p>
   <p>
      <%= f.label :latitude %><br /> 
      <%= f.text_field :latitude, class: 'form-control' %>
   </p> 
    <p> 
      <%= f.label :longitude %><br />
      <%= f.text_field :longitude, class: 'form-control' %> 
    </p> 
        <p> 
      <%= f.label :city %><br /> 
      <%= f.text_field :city, class: 'form-control' %> 
    </p>
        <p> 
      <%= f.label :country %><br /> 
      <%= f.text_field :country, class: 'form-control' %> 
    </p>
           <p> 
      <%= f.label :email %><br /> 
      <%= f.text_field :email, class: 'form-control' %> 
    </p>
           <p> 
      <%= f.label :title %><br /> 
      <%= f.text_field :title, class: 'form-control' %> 
    </p>
    <p><%= f.submit %></p>
 <% end %>
