<p id="notice"><%= notice %></p>

<p>
   <strong>Website Url:</strong >
   <%= @location.url %> 
  </p> 
    <p>
   <strong>Email:</strong >
   <%= @location.email %> 
  </p>
    <p>
   <strong>Title:</strong >
   <%= @location.title %> 
  </p>
 <p> 
    <strong>Latitude:</strong> 
    <%= @location.latitude %> 
  </p>
 <p>
   <strong>Longitude:</strong>
   <%= @location.longitude %> 
  </p> 
    <p>
   <strong>City:</strong >
   <%= @location.city %> 
  </p> 
    <p>
   <strong>Country:</strong >
   <%= @location.country %> 
  </p> 

<p> 
    <%= link_to "Destroy", @location, :confirm => 'Are you sure?', :method => :delete %> | 
    <%= link_to "View All", locations_path %> 
  </p>